
        new file:   myenv/Lib/site-packages/tzdata/zoneinfo/__init__.py
        new file:   myenv/Lib/site-packages/tzdata/zoneinfo/__pycache__/__init__.cpython-39.pyc
        new file:   myenv/Lib/site-packages/tzdata/zoneinfo/iso3166.tab
        new file:   myenv/Lib/site-packages/tzdata/zoneinfo/leapseconds
        new file:   myenv/Lib/site-packages/tzdata/zoneinfo/tzdata.zi
        new file:   myenv/Lib/site-packages/tzdata/zoneinfo/zone.tab
        new file:   myenv/Lib/site-packages/tzdata/zoneinfo/zone1970.tab
        new file:   myenv/Lib/site-packages/tzdata/zones
        new file:   myenv/Scripts/Activate.ps1
        new file:   myenv/Scripts/activate
        new file:   myenv/Scripts/activate.bat
        new file:   myenv/Scripts/deactivate.bat
        new file:   myenv/Scripts/django-admin.exe
        new file:   myenv/Scripts/pip.exe
        new file:   myenv/Scripts/pip3.11.exe
        new file:   myenv/Scripts/pip3.9.exe
        new file:   myenv/Scripts/pip3.exe
        new file:   myenv/Scripts/python.exe
        new file:   myenv/Scripts/pythonw.exe
        new file:   myenv/Scripts/sqlformat.exe
        new file:   myenv/pyvenv.cfg
        new file:   myfirstproject/__init__.py
        new file:   myfirstproject/__pycache__/__init__.cpython-39.pyc
        new file:   myfirstproject/__pycache__/settings.cpython-39.pyc
        new file:   myfirstproject/__pycache__/urls.cpython-39.pyc
        new file:   myfirstproject/__pycache__/wsgi.cpython-39.pyc
        new file:   myfirstproject/asgi.py
        new file:   myfirstproject/settings.py
        new file:   myfirstproject/urls.py
        new file:   myfirstproject/wsgi.py